<v-card class="mt-5 md-12" max-width="100%" outlined>
  <v-card-text>
    <p class="display-1 text--primary">
      Transaction
    </p>
    <p>Public Key: {{publicKey}}</p>
    <p>Send To: {{sendTo}}</p>
    <p>Data: {{dt}}</p>
  </v-card-text>
  <v-card-actions>
    <v-btn text color="deep-purple accent-1" @click="onClickGenerate">
      署名
    </v-btn>
  </v-card-actions>
  <v-card-text>
    <p>署名: {{transactionObj.sig}}</p>
    <p>トランザクション:</p>
    <pre>
 {{transaction}}
      </pre
    >
  </v-card-text>
</v-card>
