<div>
  <MessageCard title="Account 作成">
    <p>
      秘密鍵をランダムに作成し、秘密鍵から公開鍵とアドレスを計算します。
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="秘密鍵生成">
    <div class="my-2">
      <v-btn large color="primary" @click="onClickRandom">ランダム</v-btn>
    </div>
    <v-combobox
      v-model="privateKey"
      :items="privateKeys"
      label="32バイト以下の16進数を入力するか「ランダム」ボタンを押してください。（1バイト2文字）"
    ></v-combobox>
    <div class="mt-5">
      入力値 : {{privateKey}}<br />
      最大値: {{MAX}}（16進数）<br />
      条件：入力値 &lt; 最大値<br />
      <span v-if="flgPrivateKey">秘密鍵は条件を満たしています</span>
      <span v-else class="red--text">秘密鍵は条件を満たしていません</span>
    </div>
  </MessageCard>
  <MessageCard class="mt-5" title="公開鍵生成">
    <p>
      楕円曲線DSA(ECDSA)という暗号化技術により秘密鍵から公開鍵を求めます。
    </p>
    <p>
      公開鍵を計算で求めるための各パラメータで秘密鍵以外のパラメータは決まっています。
      ECDSA, secp256k1
      という単語で検索するとさらに詳しい情報が得られるでしょう。
    </p>
    <span v-if="!flgPrivateKey" class="red--text">
      条件を満たした秘密鍵が生成されていません。
    </span>
    <div class="my-2">
      <v-btn
        v-bind:disabled="!flgPrivateKey"
        large
        color="primary"
        @click="onClickGenPub"
        >公開鍵生成</v-btn
      >
    </div>
    <v-text-field v-model="publicKey" label="公開鍵（16進数）"></v-text-field>
  </MessageCard>
  <!-- <PublicKey /> -->
  <MessageCard class="mt-5" title="アドレス生成">
    <p>
      「ネットワーク ID（00） + 公開鍵ハッシュ + チェックサム」を BASE58
      エンコードをするとアドレスになります。
    </p>
    <div class="my-2">
      <v-btn
        v-bind:disabled="!flgPrivateKey"
        large
        color="primary"
        @click="onClickHash"
        >公開鍵ハッシュ、チェックサムを計算</v-btn
      >
    </div>
    <p>
      <v-text-field v-model="pubkeyHash1" label="SHA-256"></v-text-field>
      <v-text-field
        v-model="pubkeyHash2"
        label="RIPEMD-160（公開鍵ハッシュ）"
      ></v-text-field>
    </p>
    <p>
      ネットワークID ＋ 公開鍵ハッシュ <br />
      00 {{pubkeyHash2}}<br />
      <v-text-field v-model="checkSum1" label="SHA-256 1回目"></v-text-field>
      <v-text-field v-model="checkSum2" label="SHA-256 2回目"></v-text-field>
      <v-text-field
        v-model="checkSum"
        label="チェックサム（ハッシュ化2回目の先頭4バイト）"
      ></v-text-field>
    </p>
    <v-btn
      v-bind:disabled="!flgPrivateKey"
      large
      color="primary"
      @click="onClickAddress"
      >BASE58 エンコード</v-btn
    >
    <p>
      <v-text-field
        v-model="daddress"
        label="ネトワークID ＋ 公開鍵ハッシュ ＋ チェックサム"
      ></v-text-field>
    </p>
    <v-text-field v-model="address" label="アドレス"></v-text-field>
    <p>
      ビットコイン、本番ネットワークで使用できる秘密鍵、公開鍵、アドレスが作成できました。
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="アドレスの確認">
    <v-text-field v-model="address2" label="アドレス"></v-text-field>
    <p>
      アドレスに含まれるチェックサムを確認します
    </p>
    <v-btn large color="primary" @click="onClickBase58Decode"
      >BASE58 デコード</v-btn
    >
    <v-text-field
      v-model="daddress2"
      label="ネトワークID ＋ 公開鍵ハッシュ ＋ チェックサム"
    ></v-text-field>
    <p>ネットワークID＋公開鍵ハッシュ、チェックサムの2つに分割します</p>
    <v-btn large color="primary" @click="onClickSplit"
      >アドレスからチェックサムを取得</v-btn
    >
    <v-text-field
      v-model="idpubkeyhash"
      label="ネトワークID ＋ 公開鍵ハッシュ"
    ></v-text-field>
    <v-text-field v-model="checksumB" label="チェックサム"></v-text-field>
    <p>
      「ネットワークID＋公開鍵ハッシュ」からチェックサムを計算します。
    </p>
    <v-btn large color="primary" @click="onClicCheckSum2"
      >チェックサムを計算</v-btn
    >
    <v-text-field
      v-model="checksumB"
      label="アドレスから得られたチェックサム"
    ></v-text-field>
    <v-text-field
      v-model="checkSumG"
      label="計算して得たチェックサム"
    ></v-text-field>
    <p>
      アドレスから得られたチェックサムと計算で得られたチェックサムは
      <span v-if="compareChecksum" class="blue--text">一致する</span>
      <span v-else class="red--text">一致しない</span>
    </p>
    <p>
      秘密鍵から公開鍵を作成し、公開鍵からアドレスを作成しました。
      加えて、チェックサムを使ったアドレスの確認もしました。
    </p>
  </MessageCard>
  <p>TODO: 次の画面へのリンク</p>
  <!-- <address /> -->
</div>
