<div>
  <MessageCard title="テキスト暗号化、復号化">
    <p>
      TODO: 短い説明
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="暗号化する前のテキスト">
    <p>
      暗号化したいテキスト、初期値「暗号化したいテキストをここに入力」<br />
      公開鍵を16進数テキストで表示する<br />
      暗号化前のテキストを数値化し16進数で表示
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="暗号化">
    <p>
      暗号化ボタン<br />
      暗号化後のデータをテキスト表示
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="復号化">
    <p>
      復号化ボタン<br />
      暗号化後のデータをテキスト表示<br />
      秘密鍵を16進数テキストで表示<br />
      復号化後のデータをテキスト表示<br />
      テキストに戻して表示<br />
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="一致していることを確認する">
    <p>
      暗号化する前のテキストを数値化し16進数テキスト表示<br />
      復号化したデータを16進数テキスト表示<br />
      比較結果を表示<br />
      暗号化前のテキストを表示<br />
      復号化したデータをテキストに戻して表示<br />
    </p>
  </MessageCard>
</div>
