<div>
  <MessageCard title="テキスト暗号化、復号化">
    <p>
      ここでは秘密にしたい情報を暗号化し、その情報を見るための復号化を行います。
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="暗号化する前のテキスト">
    <v-text-field v-model="text1" label="暗号化したいテキスト"></v-text-field>
  </MessageCard>
  <MessageCard class="mt-5" title="暗号化">
    <div class="my-2">
      <v-text-field v-model="pubkey" label="公開鍵"></v-text-field>
      <v-btn large color="primary" @click="onClickEncrypt"
        >公開鍵を使って暗号化</v-btn
      >
    </div>
    <v-textarea
      outlined
      label="暗号化したデータをJSONとして表示"
      v-model="encryptedJson"
    ></v-textarea>
    <v-text-field v-model="encrypted" label="暗号化されたデータを16進数で表示"></v-text-field>
  </MessageCard>
  <MessageCard class="mt-5" title="復号化">
    <v-text-field v-model="encrypted" label="暗号化されたデータ"></v-text-field>
    <div class="my-2">
      <v-btn large color="primary" @click="onClickDecrypt"
        >秘密鍵を使って復号化</v-btn
      >
    </div>
    <p>
      <v-text-field v-model="prikey" label="秘密鍵"></v-text-field>
      <v-text-field v-model="text2" label="復号化したテキスト"></v-text-field>
    </p>
  </MessageCard>
  <MessageCard class="mt-5" title="一致していることを確認する">
    <v-text-field v-model="text1" label="暗号化する前のテキスト"></v-text-field>
    <v-text-field v-model="text2" label="復号化したテキスト"></v-text-field>
    <v-text-field v-model="text1EQtext2" label="一致するか確認"></v-text-field>
  </MessageCard>
</div>
